<% cache cache_key_for(Drug, "index") do %>
<div class="filter margin-top-80">
  <h1>All Medications</h1>
</div>

<div class="drugs-by-letter">
  <button id="letter-a" class="grey-border right-margin-1 cyan lighten-2 white-text">A</button> <button name="B" id="letter-b" class="grey-border side-margin-1 cyan lighten-2 white-text">B</button> <button id="letter-c" class="grey-border side-margin-1 cyan lighten-2 white-text">C</button>
  <button id="letter-d" class="grey-border side-margin-1 cyan lighten-2 white-text">D</button> <button id="letter-e" class="grey-border side-margin-1 cyan lighten-2 white-text">E</button> <button id="letter-f" class="grey-border side-margin-1 cyan lighten-2 white-text">F</button>
  <button id="letter-g" class="grey-border side-margin-1 cyan lighten-2 white-text">G</button> <button id="letter-h" class="grey-border side-margin-1 cyan lighten-2 white-text">H</button> <button id="letter-i" class="grey-border side-margin-1 cyan lighten-2 white-text">I</button>
  <button id="letter-j" class="grey-border side-margin-1 cyan lighten-2 white-text">J</button> <button id="letter-k" class="grey-border side-margin-1 cyan lighten-2 white-text">K</button> <button id="letter-l" class="grey-border side-margin-1 cyan lighten-2 white-text">L</button>
  <button id="letter-m" class="grey-border side-margin-1 cyan lighten-2 white-text">M</button> <button id="letter-n" class="grey-border side-margin-1 cyan lighten-2 white-text">N</button> <button id="letter-o" class="grey-border side-margin-1 cyan lighten-2 white-text">O</button>
  <button id="letter-p" class="grey-border side-margin-1 cyan lighten-2 white-text">P</button> <button id="letter-q" class="grey-border side-margin-1 cyan lighten-2 white-text">Q</button> <button id="letter-r" class="grey-border side-margin-1 cyan lighten-2 white-text">R</button>
  <button id="letter-s" class="grey-border side-margin-1 cyan lighten-2 white-text">S</button> <button id="letter-t" class="grey-border side-margin-1 cyan lighten-2 white-text">T</button> <button id="letter-u" class="grey-border side-margin-1 cyan lighten-2 white-text">U</button>
  <button id="letter-v" class="grey-border side-margin-1 cyan lighten-2 white-text">V</button> <button id="letter-w" class="grey-border side-margin-1 cyan lighten-2 white-text">W</button> <button id="letter-x" class="grey-border side-margin-1 cyan lighten-2 white-text">X</button>
  <button id="letter-y" class="grey-border side-margin-1 cyan lighten-2 white-text">Y</button> <button id="letter-z" class="grey-border left-margin-1 cyan lighten-2 white-text">Z</button>
</div>

<div id="drug-data" class="clearfix">
  <div class="margin-top-80">
    <h5>Information from LactMed</h5>
    <p>The information below comes from the Drugs and Lactation Database (LactMed),
      a database of drugs and chemicals from the National Institutes of Health (NIH).
      All data are derived from fully-referenced, peer-reviewed scientific literature.
      For even more information according to the NIH, visit
      <%= link_to "LactMed", "http://toxnet.nlm.nih.gov/newtoxnet/lactmed.htm" %>.
    </p>
  </div>
  <% @drugs.each do |drug| %>
    <h3 class="margin-top-40"><%= drug.name %></h3>
    <p><strong>Summary: </strong><%= drug.summary %></p>
    <p><strong>Drug Classes: </strong><%= drug.drug_classes %></p>
    <%= link_to "View More Information", drug_path(name: drug.name), class: "drug-show-page-link" %>
  <% end %>
</div>
<!--
<h3 class="margin-top-40">All Medications</h3>
<ul id="all-drugs" class="collection">
  <% @drugs.each do |drug| %>
    <li class="collection-item">
      <h5 data-name="<%#= drug.name %>"><%= drug.name %></h5>
      <p><strong>LactMed Summary:</strong> <%#= drug.summary %></p>
      <p><strong>Drug Classes:</strong> <%#= drug.drug_classes %></p>
      <p class=""><%#= link_to "View More Information", drug_path(name: drug.name) %></p>
    </li>
  <% end %>
</ul>
<% end %> -->
