<p><strong>Summary:</strong> <%= @drug_lact_med.summary %></p>
<p><strong>Drug Levels for Mothers and Infants:</strong> <%= @drug_lact_med.drug_levels %></p>
<p><strong>Effects in Breastfed Infants:</strong> <%= @drug_lact_med.effects_in_breastfed_infants %></p>
<p><strong>Effects on Lactation and Breastmilk:</strong> <%= @drug_lact_med.effects_on_lactation_and_breastmilk %></p>
<p><strong>Drug Classes:</strong> <%= @drug_lact_med.drug_classes %></p>
