<div id="recentTweets">
  <% current_user.breastfeeding_timeline.each do |tweet| %>
    <div class="">
      <div class="col 2">
        <img class="timelinePhoto" src='<%= tweet.user.profile_image_uri %>'>
      </div>
      <div class="col 8 width80">
        <p class="timelineTweetText"><%= tweet.user.name %> (@<%= tweet.user.screen_name %>)</p>
        <p><%= tweet.text %></p>
        <%= link_to "View on Twitter", "https://twitter.com/#{tweet.user.screen_name}", class:"right", target:"_blank" %>
      </div>
    </div>
  <% end %>
</div>
