<% cache("home-quick-search-#{current_date}") do %>
<% if current_user %>
  <h3 class="margin-top-80 center">Welcome back, <%= current_user.name %>!</h3>
<% else %>
  <h3 class="margin-top-80 center">Welcome to Lactation Station!</h3>
<% end %>

<input type="text" name="drug-name" id="drug-name" placeholder="Amoxicillin, Sertraline, etc.">
<a id="search-submit" class="search-by-name center-button waves-effect waves-light btn btn-large cyan lighten-2">Quick Medication Lookup</a>

<div id="drug-data" class="clearfix"></div>
<% end %>

<div class="row margin-top-80">
  <% cache("home-recent-searches-#{current_date}") do %>
    <div id="recent-searches" class="col s6 center">
      <%= image_tag "baby-1.jpg" %>
      <h5>Recent Searches</h5>
      <ul>
        <% @searches.each do |search| %>
          <li class="col s6 center"><%= link_to search.drug_name, "/drugs/#{search.drug_name}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= cache "home-common-medications-#{current_date}" do %>
    <div id="common-medications" class="col s6 center">
      <%= image_tag "baby-2.jpg" %>
      <h5>Common Medications</h5>
      <ul>
        <a href="/drugs/Levothyroxine" class="col s6 center"><li>Levothyroxine (T4)</li></a>
        <a href="/drugs/Simvastatin" class="col s6 center"><li>Simvastatin</li></a>
        <a href="/drugs/Sertraline" class="col s6 center"><li>Sertraline</li></a>
        <a href="/drugs/Amoxicillin" class="col s6 center"><li>Amoxicillin</li></a>
        <a href="/drugs/Metformin" class="col s6 center"><li>Metformin</li></a>
        <a href="/drugs/Azithromycin" class="col s6 center"><li>Azithromycin</li></a>
      </ul>
    </div>
  <% end %>
</div>

<% cache("home-search-options-#{current_date}") do %>
<div class="row margin-top-80 margin-bottom-80">
  <div id="search-by-name" class="col s4 center">
    <%= image_tag "baby-3.jpg", alt:"cute baby", class:"width-250" %>
    <h5>Search By Name</h5>
    <p>
      Best for moms who know what medication they're looking for.
    </p>
    <div class="center-button width-150 waves-effect waves-light btn cyan lighten-2">
      <%= button_to "Search", drugs_search_name_path, method: 'get' %>
    </div>
  </div>
  <div id="search-by-cause" class="col s4 center">
    <%= image_tag "baby-4.jpg", alt:"cute baby", class:"width-250" %>
    <h5>Search By Cause</h5>
    <p>
      Check out your options based on what you're seeking medication for.
    </p>
    <div class="center-button width-150 waves-effect waves-light btn cyan lighten-2">
      <%= button_to "Search", drugs_search_usage_path, method: 'get' %>
    </div>
  </div>
  <div id="all-medications" class="col s4 center">
    <%= image_tag "baby-5.jpg", alt:"cute baby", class:"width-250" %>
    <h5>View All Medications</h5>
    <p>
      Just browsing? Browse all the medications listed by name.
    </p>
    <div class="center-button width-150 waves-effect waves-light btn cyan lighten-2">
      <%= button_to "View All", drugs_path, method: 'get' %>
    </div>
  </div>
</div>
<% end %>
