<% cache("home-quick-search-#{current_date}") do %>
  <%= render partial: 'shared/home_quick_search' %>
<% end %>

<div class="row margin-top-80">
  <% cache("home-recent-searches-#{current_date}") do %>
    <%= render partial: 'shared/home_recent_searches' %>
  <% end %>
  <%= cache "home-common-medications-#{current_date}" do %>
    <%= render partial: 'shared/home_common_meds' %>
  <% end %>
</div>

<% cache("home-search-options-#{current_date}") do %>
  <%= render partial: 'shared/search_options' %>
<% end %>
