<h3 class="margin-top-80 center">Welcome back, Emily!</h3>
<input type="text" name="drug-name" id="drug-name" placeholder="Amoxicillin, Sertraline, etc.">
<a id="search-submit" class="search-by-name center-button waves-effect waves-light btn btn-large cyan lighten-2">Quick Medication Lookup</a>


<!-- <div class="center-button waves-effect waves-light btn-large cyan lighten-2">
  <%#= button_to "Quick Medication Lookup", root_path %>
</div> -->


<div id="drug-data" class="clearfix"></div>

<div class="row margin-top-80">
  <div class="col s6 center">
    <%= image_tag "baby-1.jpg" %>
    <h5>Recent Searches</h5>
    <ul>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
    </ul>
  </div>
  <div class="col s6 center">
    <%= image_tag "baby-2.jpg" %>
    <h5>Common Medications</h5>
    <ul>
      <a href="/drugs/156" class="col s6 center"><li>Levothyroxine (T4)</li></a>
      <a href="/drugs/481" class="col s6 center"><li>Simvastatin</li></a>
      <a href="/drugs/326" class="col s6 center"><li>Sertraline</li></a>
      <a href="/drugs/11" class="col s6 center"><li>Amoxicillin</li></a>
      <a href="/drugs/171" class="col s6 center"><li>Metformin</li></a>
      <a href="/drugs/334" class="col s6 center"><li>Azithromycin</li></a>
    </ul>
  </div>
</div>

<!-- <div class="margin-top-80">
  <h4>Awesome heading</h4>
  <p>
    Nunc quis sagittis lacus. Aenean ut laoreet mi. Morbi at lectus id eros
    efficitur aliquet. Curabitur risus diam, vestibulum ac elit et, maximus
    blandit neque. Cum sociis natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos. Fusce ac finibus sem, id malesuada metus.
    Aliquam lectus sapien, eleifend in erat et, tempus cursus neque.
  </p>
</div> -->

<div class="row margin-top-80">
  <div class="col s4 center">
    <%= image_tag "baby-3.jpg", alt:"cute baby", class:"width-250" %>
    <h5>Search By Name</h5>
    <p>
      Best for moms who know what medication they're looking for.
    </p>
    <div class="center-button width-150 waves-effect waves-light btn cyan lighten-2">
      <%= button_to "Search", drugs_search_name_path, method: 'get' %>
    </div>
  </div>
  <div class="col s4 center">
    <%= image_tag "baby-4.jpg", alt:"cute baby", class:"width-250" %>
    <h5>Search By Cause</h5>
    <p>
      Check out your options based on what you're seeking medication for.
    </p>
    <div class="center-button width-150 waves-effect waves-light btn cyan lighten-2">
      <%= button_to "Search", drugs_search_usage_path, method: 'get' %>
    </div>
  </div>
  <div class="col s4 center">
    <%= image_tag "baby-5.jpg", alt:"cute baby", class:"width-250" %>
    <h5>View All Medications</h5>
    <p>
      Just browsing? Browse all the medications listed by name.
    </p>
    <div class="center-button width-150 waves-effect waves-light btn cyan lighten-2">
      <%= button_to "View All", drugs_path, method: 'get' %>
    </div>
  </div>
</div>
