<div class="margin-bottom-80">
  <% cache("welcome-twitter-cta-#{current_date}") do %>
    <%= render partial: 'shared/welcome_pitch' %>
  <% end %>

  <div class="center-button waves-effect waves-light btn-large cyan lighten-2">
    <% if current_user %>
      <%= cache "home-search-medication-button-#{current_user}" do %>
        <%= button_to "Search Medications", drugs_search_name_path, method: 'get' %>
      <% end %>
    <% else %>
      <%= cache "home-twitter-login-button-#{current_date}" do %>
        <%= button_to "Login with Twitter", login_path %>
      <% end %>
    <% end %>
  </div>
</div>
